@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}	

img {
	vertical-align: bottom;
	border: none 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #666;
}

.wrapper {
	width: 1100px;
	position: relative;
	margin: 0 auto;
}

.clearfix::after {
	display: block;
	content: '';
	clear: both;
}

/***** page01 *****/

.section01 {
	background-image: url('../images/visual.jpg');	
	background-position: center;
	background-size: cover;
	position: relative;
}

.section01 .bg {
	height: 100%;
}

.section01 h1.logo {
	position: absolute;
	top: 50px;
	left: 8%;
}


.section01 ul.menu {
	position: absolute;
	top: 50px;
	right: 8%;
}

.section01 ul.menu li {
	display:inline-block;
	margin-left: 36px;
}

.section01 h2.copy {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -345px;
	margin-top: -80px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 80px;
	color: rgba(255,255,255,0.95);
	font-weight: 100;
	line-height: 1.2em;
	letter-spacing: -3.5px;
}

.section01 p.scroll {
	text-align: center;
}

.section01 p.scroll a img {
	position: absolute;
	bottom: 50px;
}

/***** page02 & 03 *****/

.section .left {
	float: left;
	width: 50%;
	margin: 0 6%;
}

.section .right {
	float: right;
	margin-right: 7%;
	width: 30%;
}

.section p.preview img {
	width: 100%;
}

.section .right h2.tit {
	/*text-transform: uppercase;*/
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 1.4em;
	font-weight: 300;
	color: #222;
}

.section .right p.date {
 	font-size: 15px;
 	margin: 30px 0 50px;
}

.section .right p.desc {
	text-align: justify;
	font-size: 16px;
	line-height: 1.6em;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -1px;
}

.section .right p.color {
	margin: 40px 0;
}	

.section .right p.color span.co {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #34556c;
	margin-right: 8px;
}

.section .right p.color span.co2 {
	background-color: #417375;
}

.section .right p.color span.co3 {
	background-color: #6d291b;
}

.section .right p.view a {
	display: inline-block;
	border-radius: 30px;
	color: #222;
	width: 200px;
	height: 50px;
	border: solid 1px #444;
	text-align: center;
	line-height: 50px;
	font-size: 17px;
	transition: all 0.3s;
}

.section .right p.view a:hover {
	color: #fff;
	background-color: #222;
	border: solid 1px #222;
}


/***** page03 *****/

.section03 .right p.color span.co {
	background-color: #d4061f;
}

.section03 .right p.color span.co2 {
	background-color: #fff;
	width: 17px;
	height: 17px;
	border: solid 1px #666;
}

.section03 .right p.color span.co3 {
	display: none;
}

/***** page04 *****/

.section04 {
	font-family: 'Noto Sans KR', sans-serif;
}

.section04 p.greeting {
	color: #222;
	font-size: 70px;
	letter-spacing: -3.5px;
	font-weight: 100;
	padding-bottom: 100px;
	border-bottom: solid 1px #d2d2d2;
	margin-bottom: 37px;
}

.section04 ul.info li {
	float: left;
	width: 50%;
	font-size: 14px;
}

.section04 ul.info li strong {
	font-weight: 400;
	color: #222;
}

.section04 ul.info li strong, .section04 ul.info li span {
	display: inline-block;
	width: 50%;
	margin-bottom: 19px;
}

/* #header ul.gnb {
	text-align: center;
}

#header ul.gnb li {
	display: inline-block;
}

#header h1.logo {
	float: left;
	padding-top: 50px;
}

#header p.mail {
	padding-top: 50px;
	float: right;
	color: rgba(255,255,255,0.8)
}

#visual {
	background-image: url('../images/visual.jpg');	
	background-position: center;
	background-size: cover;
	height: 655px;
	background-attachment: fixed;
}

#visual .bg {
	background-color: rgba(0,0,0,0.4);
	height: 655px;
}

#visual .wrapper {
	height: 655px;
}

#visual p.copy {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -227px;
	margin-top: -85px;
}

#visual p.scroll {
	text-align: center;
}

#visual p.scroll a img {
	position: absolute;
	bottom: 35px;
}

*/