@charset 'utf-8';


/** responsive web design area **/

@media screen and (max-width: 1280px) {

	#container div.notice div.board {
		width: 100%;
	}

	#container div.notice div.intro {
		width: 100%;
	}
	#container div.notice div.intro div.owl-carousel {
		width: 100%;
	}
}