@charset 'utf-8';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/* reset */

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 100%;
}

li {
	list-style: none;
}

a {
	 text-decoration: none;
}

img {
	vertical-align: bottom;
	border: none 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

em {
	font-style: normal;
}

strong {
	font-weight: normal;
}

/* common */
.wrapper {max-width:1100px;margin:0 auto;position:relative;}.clearfix::after {content:' ';display:block;clear:both;}
body {font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','Apple SD Gothic Neo',Dotum,'돋움',sans-serif;color:#666;font-weight:300;}

/* 스킵 네이게이션 */
.hide {position:absolute;overflow:hidden;width:1px;height:1px;clip:rect(0px,0px,0px,0px);color:#000}/* 접근성 준수를 위해 display:none 또는 visibility:hidden 사용 금지 */
#skip {position:relative;z-index:9999}
#skip a {position:fixed;top:-40px;left:0;width:100%;padding:5px 0;font-size:14px;line-height:30px;color:#FFF;text-align:center;background-color:#307676;transition:all 0.3s}
#skip a:hover,#skip a:focus,#skip a:active {top:0px;text-decoration:none}

/* 헤더 */
header {position:absolute;top:0;width:100%;border-top:6px solid #307676;box-sizing:border-box;background-image:url(../images/header_bg2.jpg);background-position:center top;/*height:206px; 초기값 */height:156px;z-index:9998;}

header .wrapper {box-sizing:border-box;padding:15px 0 20px;}

header .logo {position:absolute;left:50%;margin-left:-76px;z-index:20;}

header .gnb_wrap {position:relative;text-align:center;}
header .gnb {width:100%;position:absolute;top:58px;left:0;}

header .gnb>li {display:inline-block;vertical-align:top;padding:0 28px 32px;height:58px;box-sizing:border-box;}
header .gnb>li:hover>a {color:#1c6972;}
header .gnb li a {font-size:18px;font-weight:400;color:#444;}
header .gnb>li:nth-child(1) {padding-left:0;}
header .gnb>li:nth-child(4) {margin-left:318px;}
header .gnb>li:nth-child(6) {padding-right:0;}
header .gnb>li ul.menu {display:none;position:absolute;top:58px;left:0;width:100%;height:50px;background:#222;}
header .gnb>li ul.menu li {display:inline-block;background-image:url(../images/gnb_bar.png);background-position:left center;padding-left:17px;background-repeat:no-repeat;margin:0 5px;}
header .gnb>li ul.menu li:first-child {background:none;}
header .gnb>li ul.menu li a {line-height:50px;color:#ccc;font-size:14px;transition:all 0.1s;}
header .gnb>li ul.menu li a:hover {font-weight:400;color:#1c6972;}

header .lnb_wrap {position:absolute;top:0;right:0;}
header .lnb_wrap .lnb li {display:inline-block;height:27px;margin-left:6px;line-height:20px;}
header .lnb_wrap .lnb li a {font-size:11px;font-weight:400;text-transform:uppercase;color:#666;}
header .lnb_wrap .lnb li.sitemap {border-radius:0 0 10px 10px;background-color:#307676;background-image:url(../images/more.png);background-repeat:no-repeat;background-position:55px center;}
header .lnb_wrap .lnb li.sitemap a {display:inline-block;width:78px;height:20px;padding:0 13px;box-sizing:border-box;font-weight:400;color:#fff;}

/* visual */

.visual {
	background-image: url(../images/sub_visual_bg.jpg);
	height: 260px;
	background-size: cover;
	background-position: center;
}

/* container */

.container {
	padding-top: 20px;
	text-align: center;
}

.container .path {
	float: right;
}

.container .path li {
	display: inline-block;
	padding-left: 20px;
	font-size: 13px;
	background-image: url(../images/path_mark.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	height: 14px;
}

.container .path li:first-child {
	background: none;
}

.container .path li a {
	color: #666;
}

.container .path li:last-child a {
	color: #444;
	font-weight: bold;
}

.container h1.tit {
	font-size: 40px;
	padding: 68px 0 40px;
	width: 100%;
	font-family: 'Nanum Myeongjo';
	color: #333;
	font-weight: 600;
}

.container ul.sub {
	margin-bottom: 77px;
}	

.container ul.sub li {
	float: left;
	background-color: #f2f2f2;
	width: 275px;
	height: 45px;
	border: 1px solid #dedede;
	box-sizing: border-box;
}

.container ul.sub li a {
	display: inline-block;
	width: 275px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #666;
}

.container ul.sub li:first-child {
	background-color: #2e556d;
	border: none 0;
}

.container ul.sub li:first-child a {
	color: #fff;
}

/* sub title */

.container .subTitle h2.sub_tit {
	font-size: 27px;
	color: #215a95;
	margin-bottom: 40px;
}

.container .subTitle p.copy {
	font-size: 34px;
	margin-bottom: 20px;
	color: #222;
	font-weight: 300;
	letter-spacing: -1px;
}

.container .subTitle p.desc {
	font-size: 15px;
	line-height: 1.6em;
	margin-bottom: 120px;
}

.container h3.title {
	text-align: left;
	font-size: 18px;
	color: #333;
	margin-bottom: 30px;
}

.container h3.title::before {
	content: ' ';
	display: block;
	width: 15px;
	height: 2px;
	margin: 0 0 5px;
	background-color: #215a95;
}

.container .subTitle p.mark {
	position: absolute;
}

.container .subTitle p.mark_front {
	top: 52px;
	left: 252px;
}

.container .subTitle p.mark_back {
	top: 63px;
	right: 258px;
}

/* video */

.container .video_visual {
	position: relative;
}

.container .video_visual p.video {
	text-indent: -9999px;
	background-image: url(../images/video_preview_sub.jpg);
	background-position: center;
	background-size: cover;
	height: 500px;
	margin-bottom: 55px;
}

.container .video_visual p.play {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -42px;
	margin-left: -59px;
}

.container .video_wrap p.desc {
	text-align: justify;
	margin-bottom: 110px;
}

.container .video_wrap p.desc span {
	display: inline-block;
	font-size: 15px;
	width: 30%;
	line-height: 1.6em;
	margin-right: 4%;
	letter-spacing: -1px;
	vertical-align: top;
}

.container .video_wrap p.desc span:nth-child(3) {
	margin-right: 0;
}

.container .video {
	position: relative;
}

.container .video .popup_vid {
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}

.container .video .popup_vid iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -400px;
}

.container .video .popup_vid p.close a {
	position: fixed;
	top: 50px;
	right: 50px;
	display: inline-block;
	width: 50px;
	height: 50px;
}

.container .video .popup_vid p.close a img {
	width: 100%;
}


/* purpose */

.container .purpose p.img {
	margin: 55px 0 36px;
}

.container .purpose h4.tit {
	color: #215a95;
	font-size: 35px;
	font-family: 'Nanum Myeongjo', serif;
	line-height: 1.1em;
}

.container .purpose p.desc {
	margin: 38px 0 122px;
	line-height: 1.6em;
}

.container .purpose p.copy {
	font-size: 33px;
}

.container .purpose p.copy strong {
	color: #215a95;
}

.container .purpose p.mark {
	margin: 28px 0 46px;
}

.container .purpose ul.lst {
	margin-bottom: 110px;
}

.container .purpose ul.lst li {
	display: inline-block;
	margin: 0 40px;
}

.container .purpose ul.lst li h5.tit {
	font-size: 18px;
	color: #444;
	margin-bottom: 15px;
}

.container .purpose ul.lst li h5.tit::before {
	content: ' ';
	display: block;
	margin: 30px auto;
	width: 30px;
	height: 1px;
	background-color: #c2c2c2;	
}

.container .purpose ul.lst li p.txt {
	font-size: 15px;
	line-height: 1.4em;
}

/* role */

.container .role .roleVisual {
	position: relative;
	background-image: url(../images/role_bg.jpg);
	background-position: center;
	background-size: cover;
	height: 440px;
	padding-top: 155px;
	box-sizing: border-box;
}

.container .role .roleVisual p.copy {
	color: #fff;
	font-family: 'Nanum Myeongjo';
	font-size: 28px;
	line-height: 1.7em;
}

.container .role div.roleCon ul.lst {
	margin: 130px 0;
}

.container .role div.roleCon ul.lst li {
	margin-bottom: 51px;
}

.container .role div.roleCon ul.lst li span,
.container .role div.roleCon ul.lst li em {
	display: inline-block;
	vertical-align: top;
}

.container .role div.roleCon ul.lst li span.numbering {
	width: 8%;
}

.container .role div.roleCon ul.lst li span img {
	vertical-align: top;
}

.container .role div.roleCon ul.lst li em {
	font-size: 20px;
	color:#215a95;
	font-weight: 400;
	vertical-align: middle;
	width: 22%;
	text-align: left;
	line-height: 1.3em;
	padding-top: 9px;
	box-sizing: border-box;
}

.container .role div.roleCon ul.lst li span.desc {
	width: 68%;
	font-size: 15px;
	line-height: 1.6em;
	text-align: justify;
	padding-top: 9px;
	box-sizing: border-box;
}

/* top 버튼 */
.container .top {
	position:fixed;
	right:0;
	bottom:220px;
	opacity:0.85;
	display:none;
	z-index:25;
}

/* footer */
footer {height:200px;font-size: 14px;color:#bbb;background-image:url(../images/footer_bg.jpg);background-size:cover;background: #222;}
footer .wrapper {padding-top:50px;}
footer address {margin:24px 0 10px;font-style:normal;}
footer .copyright {display:inline-block;width:100%;}

footer .link {position:absolute;bottom:0;right:0;z-index:3;}
footer .link>div {display:inline-block;transition:all 0.3s;font-size:15px;}
footer .link>div>a {display:inline-block;margin-left:3px;width:180px;height:34px;box-sizing:border-box;color:#ccc;transition:all 0.3s;line-height:34px;padding-left:6px;background-color:#6a6a6a;background-image:url(../images/link_arrow_up.png);background-repeat:no-repeat;background-position:160px center;}
footer .link>div>a.on {background-image:url(../images/link_arrow_down.png);}
footer .link div .link_list {position:absolute;bottom:34px;right:1px;}
footer .link div .list01 {right:187px;}
footer .link div .link_list li a {display:block;padding-left:3px;box-sizing:border-box;width:180px;height:30px;color:#ddd;line-height:30px;background-color:#6a6a6a;transition:all 0.3s;}
footer .link div .link_list li a:hover,footer .link div .link_list li a:focus {background:#333;}

footer .sns {position:absolute;top:50px;right:0;}
footer .sns a {display:inline-block;margin-left:5px;width:32px;height:32px;color:#222;opacity:1.0;transition:all 0.3s}
footer .sns a:hover {opacity:0.7}