

/*** circle ****/

.blind {display:none;overflow:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;text-indent:-9999em;visibility:hidden;outline:none;z-index:-1}
.btn_cycleLB {display:inline-block;position:absolute;top:50%;left:0;width:26px;height:48px;margin-top:-24px;background:url(btn_cycle_arrow.png) no-repeat 0 0;z-index:101;}
.btn_cycleLB:hover {background-position:0 -50px;}
.btn_cycleRB {display:inline-block;position:absolute;top:50%;right:0;width:26px;height:48px;margin-top:-24px;background:url(btn_cycle_arrow.png) no-repeat -50px 0;z-index:101;}
.btn_cycleRB:hover {background-position:-50px -50px;}
.main_banner {}
.main_banner .slide {width:100%;height:480px;}
.main_banner .slide a {display:block;height:100%;}
.main_banner .slide a:hover {text-decoration:none;}
.prod_banner {position:relative;width:540px;height:460px;}
.main_banner .cycle_wrap {position:relative;height:480px;}
.cycle_slideshow {position:relative}
.cycle_slideshow > div.slide {position:absolute;top:0;left:0;width:100%;padding:0}
.cycle-pager {position:absolute;bottom:-25px;width:100%;text-align:center;z-index:800;}
.cycle-pager a {display:inline-block;width:12px;height:12px;margin:0 4px;background:url(ico_indi.png) no-repeat;}
.cycle-pager a.cycle-pager-active {background-position:0 -20px;}
.cycle-pager .bubble {position:absolute;bottom:25px;padding:1px 10px;font-size:13px;text-align:center;color:#fff;background:#000;
	-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
}
.cycle-pager .bubble span.arr {display:block;position:absolute;left:50%;bottom:-2px;width:4px;height:2px;margin-left:-1px;background:url(../images/common/arr_bubble.png) no-repeat;}
.cycle-pager > * {cursor:pointer}
.cycle-caption {position:absolute;color:#fff;bottom:15px;right:15px;z-index:700}
.cycle-overlay {font-family:tahoma, arial;position:absolute;bottom:0;width:100%;padding:15px;background:black;color:white;z-index:600;opacity:.5}

.main_banner .cycle-pager a {position:relative;}
.main_banner .cycle-pager a .balloon {display:none;position:absolute;bottom:17px;left:-195px;width:400px;text-align:center;}
.main_banner .cycle-pager a .balloon .bubble {position:relative;bottom:0;padding:2px 10px;}
.main_banner .cycle-pager a.cycle-pager-active .balloon {display:block;}

