@charset 'utf-8';
@font-face {
  font-family: 'Marker-Felt';
    src:  url('../fonts/webfonts_Marker-Felt/Marker-Felt.ttf.woff') format('woff'),
    url('../fonts/webfonts_Marker-Felt/Marker-Felt.ttf.svg#Marker-Felt') format('svg'),
    url('../fonts/webfonts_Marker-Felt/Marker-Felt.ttf.eot'),
    url('../fonts/webfonts_Marker-Felt/Marker-Felt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal	
}


/** reset **/

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-style: 100%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none 0;
	vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: normal;
}

/** common **/

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/** main **/

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #666;
}

/* header */

#header {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center bottom;
	height: 980px;
	text-align: center;
}

#header div.bb {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	height: 980px;
	width: 100%;
}

#header div.bb div.wrapper {
	padding-top: 340px;
	box-sizing: border-box;
}

#header h1.logo {
	position: absolute;
	top: 35px;
	left: 3%;
}

#header p.pull {
	position: absolute;
	top: -30px;
	right: 20px;
}

#header p.pull span, #header p.pull a {
	display: inline-block;
}

#header p.pull span {
	margin-top: 15px;
	margin-left: 60px;
	width: 100%;
} 

#header p.sub_copy {
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	position: relative;
	top: -30px;
	left: 10px;
}

#header p.sub_copy span {
	margin: 53px;
}

#header p.btn {
	margin-top: 230px;
}

/* menu */

.menu {
	background-color: #fff;
	position: fixed;
	font-size: 50px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 13;
	top: -100%;
	display: none;
}

.menu ul.gnb {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 99.99%;
	margin: 0 auto;
}

.menu ul.gnb li {
	margin-bottom: 30px;
}

.menu ul.gnb li a {
	display: inline-block;
	color: #000;
	font-weight: 300;
	transition: all 0.6s;
	padding: 0 10px;
}

/*
.menu ul.gnb li a:hover {
	background-color: #000;
	color: #fff;
}*/

.menu ul.gnb li a::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background-color: #000;
	margin: 0 auto;
	transition: all 0.5s;
}

.menu ul.gnb li a:hover::after {
	width: 100%;
}

.menu ul.sns {
	position: absolute;
	top: 95%;
	transform: translateY(-50%);
	width: 100%;
}

.menu ul.sns li {
	display: inline-block;
}

.menu ul.sns li a {
	color: #000;
	font-size: 16px;
}

.menu p.close a {
	width: 65px;
	height: 65px;
	line-height: 65px;
	position: fixed;
	right: 0;
	top: 65px;
	font-size: 10px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0);
	border-right: none 0;
	opacity: 0.9;
	background-color: #000;
	transition: all 0.3s;
}

.menu p.close a:hover {
	width: 80px;
}

/* common */

#container h1.tit {
	color: #e13131;
	font-size: 96px;
	font-weight: 300;
	margin-bottom: 40px;
}

#container p.desc {
	font-weight: 300;
	line-height: 1.6em;
}

/* kitkat studio */

#container .studio {
	background-image: url(../images/studio_bg.png);
	background-position: left 180px;
	background-repeat: no-repeat;
	padding: 160px 10% 0;
	box-sizing: border-box;
	margin-bottom:114px;
}

#container .studio h1.tit,
#container .studio p.desc {
	float: right;
}

/* counter */

#container>.count {
	background-image: url(../images/count_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 844px;
	text-align: center;
	padding-top: 232px;
	box-sizing: border-box;
}

#container>.count h2.tit {
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
}

#container .count p.count {
	font-family: 'djb_get_digitalregular';
	font-size: 120px;
	color: #fff;
	letter-spacing: 6px;
	margin: 65px 0 ;
}

/* the break emoji */

#container .emoji {
	padding-top: 77px;
}

#container .emoji div.wrapper {
	background-image: url(../images/emoji_bg.png);
	background-position: 630px -50px;
	background-repeat: no-repeat;
	padding: 0 5%;
	box-sizing: border-box;
	margin-bottom: 70px;
}

#container .emoji h1.tit {
	font-size: 80px;
}

#container .emoji p.desc {
	margin-bottom: 60px;
}

#container .emoji p.btn a {
	display: inline-block;
	width: 190px;
	height: 40px;
	border-radius: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 40px;
	vertical-align: center;
	text-align: center;
	margin-bottom:135px;
	transition: all 0.5s;
}

#container .emoji p.btn span {
	margin: 0 5px;
	font-weight: bold;
	font-size: 16px;
	color: #444;
}

#container .emoji p.btn a.view {
	border: 1px solid #b12011;
	color: #b12011;
}

#container .emoji p.btn a.sign {
	border: 1px solid #b12011;
	background-color: #b12011;
	color: #fff;
}

#container .emoji p.btn a.view:hover,
#container .emoji p.btn a.sign:hover {
	background-color: #890000;
	color: #fff;
	border-color: #890000;
}

#container .emoji div.popupVid {
	background-color: rgba(255,255,255,1);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 12;
}

#container .emoji div.popupVid iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -426px;
}

#container .emoji div.popupVid a.close {
	width: 65px;
	height: 65px;
	line-height: 65px;
	position: fixed;
	right: 0;
	top: 65px;
	font-size: 10px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0);
	border-right: none 0;
	opacity: 0.9;
	background-color: #000;
	transition: all 0.3s;
}

#container .emoji div.popupVid a.close:hover {
	width: 80px;
}

#container .emoji div.popupVid a.close img {
	width: 80%;
}

/* create your break */

#container .create {
	background-image: url(../images/create_bg.jpg);
	background-attachment: fixed;
	height: 460px;
	position: relative;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#container .create div.bb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 460px;
	background-color: rgba(0,0,0,0.5);
	padding-top: 165px;
	box-sizing: border-box;
}

#container .create p.at {
	vertical-align: center;
	margin-bottom: 5px;
}

#container .create p.at strong{
	font-size: 21px;
	font-weight: 100;
}

#container .create p.at span {
	display: inline-block;
	width: 22%;
	height: 1px;
	background-color: #fff;
	position: relative;
	top: -8px;
	margin: 0 20px;
}

#container .create h1.title {
	font-size: 90px;
	font-weight: 100;
}

/* history */

#container .history {
	background-image: url(../images/box.png);
	background-repeat: no-repeat;
	background-position: left 165px;
	padding: 165px 4% 0;
	box-sizing: border-box;
	margin-bottom: 105px;
}	

#container .history div.float {
	float: right;
	padding-top: 70px;
	margin-bottom: 300px;
	position: relative;
}

#container .history p.hi {
	position: relative;
	top: 5px;
}

#container .history p.hi,
#container .history p.desc1 {
	display: inline-block;
}

#container .history p.desc2 {
	width: 490px;
	text-align: justify;
}

/* product */

#container .product {
	position: relative;
	padding-top: 105px;
}

#container .product p.arrow {
	text-align: center;
	margin-right: 300px;
}

#container .product ul.text {
	padding-left: 120px;
	padding-top: 30px;
	margin-bottom: 321px;
}

#container .product ul.text li {
	display: none;
}

#container .product ul.text li.on {
	display: block;
}

#container .product ul.text li h2.name {
	font-family: 'Marker-Felt';
	font-size: 60px;
	/*-webkit-transform: scaleX(1.2);
	transform: scaleX(1.2);
	transform-origin: left;*/
	color: #cb1a14;	
	letter-spacing: 2px;
	margin-bottom: 40px;
}

#container .product div.slide {
	position: absolute;
	top: 275px;
	right: 200px;
	width: 577px;
	height: 200px;
	background-image: url(../images/slide_img.png);
	background-position: left 0;
	background-repeat: no-repeat;
	z-index: 9;
}

#container .product p.hand {
	position: absolute;
	top: 160px;
	right: -110px;
}

#container .product p.finger {
	position: absolute;
	top: 418px;
	right: 170px;
	z-index: 10;
}

#container .product p.button {
	position: absolute;
	top: 80%;
	width: 100%;
}

#container .product p.button a.prev {
	float: left;
}

#container .product p.button a.next {
	float: right;
}

/* better chocolate */

#container>.better {
	height: 680px;
	background-image: url(../images/better_bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
}

#container>.better div.bb {
	background-color: rgba(0,0,0,0.55);
	height: 680px;
}

#container>.better div.wrapper {
	padding-top: 70px;
	box-sizing: border-box;
}

#container .better ul.better {
	width: 98%;
	margin: 0 auto;
}

#container>.better ul.better li {
	display: inline-block;
	vertical-align: top;
	width: 24%;
}

#container>.better h1.tit {
	color: #fff;
}

#container>.better p.desc {
	margin-bottom: 80px;
}

#container>.better p.icon img {
	width: 90px;
}

#container>.better h2.better_tit {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px 0;
}

#container .better ul.better li p.txt {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4em;
}

/* cocoa plan */

#container .cocoaPlan {
	text-align: center;
	padding-top: 125px;
}

#container .cocoaPlan p.img {
	margin: 38px 0 59px;
}

#container .cocoaPlan p.btn {
	margin-bottom: 130px;
}

#container .cocoaPlan p.btn a {
	display: inline-block;
	width: 190px;
	height: 40px;
	border-radius: 5px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 40px;
	vertical-align: center;
	margin-bottom:135px;
	border: 1px solid #b12011;
	color: #b12011;
	margin: 0 6px;
	transition: all 0.5s;
}

#container .cocoaPlan p.btn a:hover {
	background-color: #890000;
	color: #fff;
	border-color: #890000;
}

/* video */

#container .enjoy {
	position: relative;
	height: 550px;
	overflow: hidden;
	position: relative;
}

#container .enjoy #myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#container .enjoy .content {
	position: absolute;
	top: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#container .enjoy .content h1 {
	font-family: times new roman;
	font-size: 48px;
	line-height: 1.2em;
	padding-top: 170px;
}

#container .enjoy #myBtn {
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px;
    margin-top: 20px;
    border: 1px solid #b12011;
    border-radius: 5px;
    background: #b12011;
    color: #fff;
    cursor: pointer;
}

#container .enjoy #myBtn:hover {
    background-color: #890000;
	color: #fff;
	border-color: #890000;
	transition: all 0.5s ;
}

/* top btn */

#container p.top {
	 display: none;
}
	
#container p.top a {
	width: 65px;
	height: 65px;
	line-height: 65px;
	position: fixed;
	right: 0;
	bottom: 65px;
	font-size: 10px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	border: 1px solid rgba(255,255,255,0);
	border-right: none 0;
	opacity: 0.9;
	background-color: #000;
	transition: all 0.3s;
}

#container p.top a:hover {
	width: 80px;
}

#footer {
	padding-bottom: 60px;
}

#footer p.scrl {
	text-align: center;
	position: relative;
	top: -53px;
}

#footer ul.footer_lst {
	width: 65%;
	margin: 0 auto;
	padding-top: 30px;
}

#footer ul.footer_lst>li {
	display: inline-block;
	vertical-align: top;
	padding-left: 40px;
	height: 310px;
	width: 28%;
}

#footer ul.footer_lst>li { 
	background-image: url(../images/f_lst_bg.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#footer ul.footer_lst>li:first-child {
	background: none;
}

#footer ul.footer_lst>li h1.title {
	font-size: 24px;
	color: #222;
	margin-bottom: 55px;
}

#footer ul.footer_lst>li>p {
	margin-bottom: 20px;
}

#footer ul.footer_lst>li>p,
#footer ul.footer_lst>li>ul.sns span {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 1px;
}

#footer ul.footer_lst>li>ul.sns li {
	width:80%
}	

#footer ul.footer_lst>li>ul.sns li span {
	display: inline-block;
	line-height: 35px;
	margin-bottom: 20px;
	float: right;
	width: 70%;
}

#footer ul.footer_lst>li>ul.sns li a {
	display: inline-block;
	float: left;
	font-size: 20px;
	width: 35px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	transition: all 0.5s;
}

#footer ul.footer_lst>li>ul.sns li a:hover {
	background-color: #890000;
}